---
import { SITE_TITLE } from '../consts';
---

<header>
	<a href="/" class="logo">🐍 Python Ship</a>
	<nav>
		<a href="/">首页</a>
		<a href="/blog">博客</a>
		<a href="https://github.com/fgh629376-ship-it/python-ship" target="_blank">GitHub</a>
	</nav>
</header>
