---
import LangSwitcher from './LangSwitcher.astro';
---
<header>
  <a href="/" class="logo" data-i18n="siteTitle">🐍 Python Ship</a>
  <div class="header-right">
    <nav>
      <a href="/" data-i18n="navHome">首页</a>
      <a href="/blog" data-i18n="navBlog">博客</a>
      <a href="/textbook/" data-i18n="navTextbook">教材</a>
      <a href="/about" data-i18n="navAbout">关于</a>
      <a href="https://github.com/fgh629376-ship-it/python-ship" target="_blank" data-i18n="navGitHub">GitHub</a>
    </nav>
    <div class="header-divider"></div>
    <LangSwitcher />
  </div>
</header>
